@using MVCTicariOtomasyon.Models.Siniflar
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Masonry Responsive Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/templatemo_434_masonry/css/normalize.css">
    <link rel="stylesheet" href="~/templatemo_434_masonry/css/font-awesome.css">
    <link rel="stylesheet" href="~/templatemo_434_masonry/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/templatemo_434_masonry/css/templatemo-style.css">
    <script src="~/templatemo_434_masonry/js/vendor/modernizr-2.6.2.min.js"></script>
    <!--
    Masonry Template
    http://www.templatemo.com/preview/templatemo_434_masonry
    -->
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

   

    
        </div> <!-- .site-header -->
        <div class="site-banner">
            <div class="container">
                <div class="row">
                  
                </div>
                <div class="row">
                    <form action="#" method="post" class="subscribe-form">
                    
                    </form>
                </div>
            </div>
        </div> <!-- .site-banner -->
    </div> <!-- .site-top -->
    <!-- MAIN POSTS -->
    <div class="main-posts">
        <div class="container">
            <div class="row">
                <div class="blog-masonry masonry-true">
                    @foreach (var x in Model)
                    {
                        <div class="post-masonry col-6 col-md-6 col-lg-4">
                            <div class="post-thumb">
                                <img src="@x.UrunGorsel" alt="">
                                <div class="title-over">
                                    <h4><a href="@x.UrunGorsel"></a></h4>
                                </div>
                                <div class="post-hover text-center">
                                    <div class="inside">
                                        <i class="fa fa-plus"></i>

                                        <h4><a href="@x.UrunGorsel">Go</a></h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }<!-- /.post-masonry -->
                    <!-- /.post-masonry -->
                </div>
            </div>
        </div>
    </div>



    <script src="~/templatemo_434_masonry/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="~/templatemo_434_masonry/js/min/plugins.min.js"></script>
    <script src="~/templatemo_434_masonry/js/min/main.min.js"></script>

    <!-- Preloader -->
    <script type="~/templatemo_434_masonry/text/javascript">
        //<![CDATA[
        $(window).load(function () { // makes sure the whole site is loaded
            $('#loader').fadeOut(); // will first fade out the loading animation
            $('#loader-wrapper').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
            $('body').delay(350).css({ 'overflow-y': 'visible' });
        })
                //]]>
    </script>
    <!-- templatemo 434 masonry -->
</body>
</html>